<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>
  <br />
  <div class="container">
      <div class="alert alert-danger alert-dismissible fade show" id="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          Something went wrong!!!
      </div>
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
            <div class="form-row">
                <div class="col-12">
                    <input type="text" id="period" class="form-control form-control-lg" placeholder="Enter the days you want data for...">
                  </div>  
            </div>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input type="text" id="address" class="form-control form-control-lg" placeholder="Enter address...">
            </div>
            <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-block btn-lg btn-primary" id="submit">Submit</button>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12">
              <div class="progress pg">
                <div class="progress-bar" style="width:100%">
                  <span class="progress-text">0 Records Downloaded</span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/javascripts/main.js"></script>
</body>

</html>